#container {
    margin-top: 62px;
    
    width: 100%;
    background-image: url('../images/back2.jpg'); 
    background-size: cover;
    padding-top: 110px;
    
}

.tituloCard h1{
    text-align: center;
    font-size: 80px;
    background-color: aqua;
}

h2{
    text-align: start;
    padding-left: 15px;
    font-size: 16px;
    font-weight: normal;
}

.preco{
    text-align: start;
    margin-top:-1px;
    padding:5px;
    font-size: 25px;
    font-weight: bolder;
}

p{
    font-size: 13px;
    margin-left: 19px;
    margin-top: 2px;
}

.primeiraColuna{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.segundaColuna{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.card{
    background: white;
    width: 330px;
    height: 400px;
    margin: 20px 50px;
    border-radius: 10px;
    cursor: pointer;
    
}

.card-image{
    height: 290px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.item-1{
    background-image: url('../images/card1.jpg');   
}

.item-2{
     background-image: url('../images/photo.jpg'); 
}

.item-3{
    background-image: url('../images/card3.jpg');
}

.item-4{
    background-image: url('../images/card4.jpg');
    
}
.item-5{
    background-image: url('../images/card5.jpg');
    
}
.item-6{
    background-image: url('../images/card6.jpg');
    
}

/* HOVER */
.item-1:hover{
    background-image: url(../images/card2.jpg);
   transform: scale(1.0);
   transition: all 0.02s;
}

.item-2:hover{
   background-image: url('../images/photo2.jpg'); 
   transform: scale(1.0);
   transition: all 0.02s;
}

.item-5:hover{
    background-image: url('../images/fotoatt.jpg');
    transform: scale(1.0);
    transition: all 0.02s;
}

.card:hover{
    background: rgb(0, 0, 0);
    color: aliceblue;
    transform: scale(1.1);
    transition: all 0.1s;
}

     /* @media screen and (max-width: 600px){
        .card{
            background: white;
            width: 330px;
            height: 400px;
            margin: 45px auto;
            border-radius: 10px;
            cursor: pointer;
        }
        .primeiraColuna{
            display: inline-table;
            margin-left: 110px;
        }
        
        .segundaColuna{
            display: inline-table;
            margin-left: 110px;
        }      

        
        
    }  */
