.footer{
    height: 300px;
 
}

.copyright{
    color: white;
    margin-top: 150px;
    margin-left: 80px;
    float: left;
    font-weight: lighter;    
}

.assinatura{
    color: white;
    margin-top: 150px;
    margin-right: 190px;
    float: right;
    font-weight: lighter;
}